{% extends "base.html" %}
{% block title %} Join | IdeaDraw {% endblock title %}
{% block main_form %}
<div class="main-form-nav">
    <div class="nav-tab other-nav-tab">
        <a href="{{ url_for('home') }}">
            <p>Create lobby</p>
        </a>
    </div>
    <div class="nav-tab selected-nav-tab">
        <p>Join lobby</p>
    </div>
</div>
<form method="POST" class="home-form">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div class="home-form-div">
        <div class="home-form-label">
            {{ form.username.label() }}
            {{ form.lobby.label() }}
        </div>
        <div class="home-form-label">
            {{ form.username(class="home-form-input") }}
            {{ form.lobby(class="home-form-input") }}
        </div>
    </div>
    <div class="home-button-div">
        {{ form.submit(class="home-button") }}
    </div>
</form> 
{% endblock %}