{% extends "bootstrap/base.html" %}
{% block title %} Paint | IdeaDraw {% endblock title %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
  var playerID = '{{ playerID }}'
  var lobbyCode = '{{ lobbyCode }}'
</script>
{% endblock head %}

{% block content %}
<!-- Main container -->
<div class="logo-div-small">
  <img src="..\static\icons\IdeaDraw_Logo.png" id="logo-sml-canva">
</div>
<div class="container">
  <div class="sketch-area" id="sketchArea">
    <div class="work-area">
      <div class="canva-with-task">
        <div class="sketch-task-text">
          <p id="prompt">This is some text, that you should sketch</p>
        </div>
        <div class="canvas-holder" id="canvasHolder"></div>
      </div>
        <div class="tool-box">
          <div class="timer">
            <p></p>
          </div>
          <div class="tools">
            <div class="tools-button-div"style="margin-top: 4%;" >
              <div class="tool-name">
                <p style="text-align: center;">COLOR</p>
              </div>
              <div class="color-picker-div">
                <div id="colorPickerHolder"></div>
              </div>
            </div>
            <div class="tool-buttons-div">
              <div class="tool-name">
                <p>BRUSH SIZE</p>
              </div>
              <div class="tool-buttons">
                <button class="tool-button" type="button" id="smlSize"><img src="..\static\icons\small.png" width="65vw" height="65"></button>
                <button class="tool-button" type="button" id="medSize"><img src="..\static\icons\average.png" width="65vw" height="65vh"></button>
                <button class="tool-button" type="button" id="bigSize"><img src="..\static\icons\big.png" width="65vw" height="65vh"></button>
              </div>
            </div>
            <div class="tool-buttons-div">
              <div class="tool-name">
                <p>TRANSPARENCY</p>
              </div>
              <div class="tool-buttons">
                <button class="tool-button" type="button" id="light"><img src="..\static\icons\light.png" width="65vw" height="65vh"></button>
                <button class="tool-button" type="button" id="medium"><img src="..\static\icons\medium.png" width="65vw" height="65vh" background: transparent;></button>
                <button class="tool-button" type="button" id="dark"><img src="..\static\icons\dark.png" width="65vw" height="65vh" background: transparent;></button>
              </div>
            </div>
            <div class="tool-buttons-div">
              <div class="tool-name">
                <p>TOOLS</p>
              </div>
              <div class="tool-buttons-special">
                <div class="tool-buttons-row-one">
                  <button class="tool-button" type="button" id="undo"><img src="..\static\icons\undo.png" width="65vw" height="65vh"></button>
                  <button class="tool-button" type="button" id="redo"><img src="..\static\icons\redo.png" width="65vw" height="65vh"></button>
                  <button class="tool-button" type="button" id="erase"><img src="..\static\icons\eraser.png" width="65vw" height="65vh"></button>
                </div>
                <div class="tool-buttons-row-two">
                  <button class="tool-button" type="button" id="delete"><img src="..\static\icons\trash.png" width="65vw" height="65vh"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="canva-submit-button-div" id="submitingButton">
      <button class="canva-submit-button" id="submitPainting", type="submit">SUBMIT</button>
    </div>
  </div>
  <div id="waitForOthers" class="waiting-spinner" style="display: none;">
    <div class="spinner-border" style="width: 10rem; height: 10rem; color: white;" role="status"></div>
    <div>
      <p>Waiting for other players...</p>
    </div>
  </div>
 
<script src="{{url_for('static', filename='paint.js')}}"></script>
</div>
{% endblock content %}

      